elasticsearch[async]==7.17.9
aenum==3.1.15
fastapi==0.95.2
fastapi_pagination==0.12.4
orjson==3.8.7
pydantic==1.9.1
python-dotenv==1.0
redis==4.4.4
uvicorn==0.12.2
gunicorn==21.2.0 
httptools==0.6.0 
backoff==2.2.1 
uvloop==0.17.0 ; sys_platform != "win32" and implementation_name == "cpython"